{require_otp_vsn, "19"}.

{deps,
 [
  {node_package,  "2.0.*",    {git, "https://github.com/basho/node_package",      {tag, "2.0.2"}}},
  {folsom,        ".*",       {git, "https://github.com/basho/folsom.git",        {branch, "boundary-0.7.1+basho-bench-float"}}},
  {lager,         "3.*",      {git, "git://github.com/basho/lager",               {tag, "3.2.4"}}},
  {ibrowse,       ".*",       {git, "git://github.com/cmullaparthi/ibrowse.git",  {tag, "v3.0.4"}}},
  {protobuffs,    ".*",       {git, "git://github.com/basho/erlang_protobuffs",   {tag, "0.9.0"}}},
  {riakc,         ".*",       {git, "git://github.com/basho/riak-erlang-client",  {branch, "develop"}}},
  {mochiweb,      "2.9.*",    {git, "git://github.com/basho/mochiweb",            {tag, "v2.9.0"}}},
  {getopt,        ".*",       {git, "git://github.com/jcomellas/getopt",          {tag, "v0.8.2"}}}

 ]}.

{erl_opts, [{src_dirs, [src]},
           {parse_transform, lager_transform}]}.

{escript_incl_apps, [node_package, lager, getopt, bear, folsom, ibrowse, riakc, mochiweb, protobuffs, goldrush]}.

{escript_emu_args, "%%! +K true -smp enable +A 128 +S 32:32 +SP 50:25 -rsh ssh\n"}.
