{mode, max}.

{log_level, info}.

{duration, 1}.

{concurrent, 68}.

{driver, basho_bench_driver_http}.


{key_generator, {int_to_str, {partitioned_sequential_int, 50000}}}.
{value_generator, {fixed_bin, 10000}}.
{generators, []}.

{values, [
          {json_v, "{\"a\":1,\"u\":1,\"v\":1,\"h\":\"\/\",\"r\":\"https:\/\/www.google.hu\/\",\"ts\":1488553930336}"}
         ]}.
{headers, [
           {json_h, [{'Content-Type', 'application/json'}, {'Accept', 'application/json'}]}
          ]}.
{targets, [
           {base_uri_t, {"localhost", 8080, "/hello"}}
          ]}.
{operations, [
              {{get, base_uri_t}, 1}
              %%{{post, base_uri_t, json_v, json_h}, 1}
             ]}.
